* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  --color-grey-blue: #69779b;
  --color-grey: #69779b;
  --color-ice: #acdbdf;
  --color-pale: #d7eaea;
}

*::selection {
  color: #fff;
  background: #000;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: #333;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
